/* *****************SELECTEUR */
/* selecteur universel  */
/* *{
    /* margin: 0;
    padding: 0; 
    
} */
/* selection par nom de balise */

nav{
    background-color: black;
    padding: 10px;
}

ul{
    /*supprimer les puces */
    list-style-type: none;
      /* marge interne  */
      /* 1 valeur => 4cotés */
    /* padding: 100px; */
    /* haut&bas/ gauche&droite  */
    /* padding: 500px 200px; */
    /* haut /droite &et gauche/ bas  */
    /* padding: 500px 200px 50px; */
    /* padding-top: 200px; */
       /* padding-left: 100px; */
       /* padding-right: 100px; */
       /* padding-bottom: 100px; */

}

li{
    /* afficher en ligne  */
    display: inline;
    /* marge interne  */
    /* padding: 100px; */
    /* padding: 800px 200px; */

}

 
li a {
    /* changer la couleur du texte  */
    color: white;
    /* couleur=> jouer sur la transparence */
    /* color: rgb(242, 48, 48); */
    /* couleur hexadecimal */
    /* color: #36AFF8; */
    text-decoration: none;

}